@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Bokor&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Oswald:wght@200..700&display=swap');
/*  font-family: "Arvo" */

@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Bokor&family=Goldman:wght@400;700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Oswald:wght@200..700&display=swap');
/* font-family: "Goldman", serif; */

@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
/* font-family: "Nosifer", serif; */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: "Poppins"; */

* {
    padding: 0;
    margin: 0;
}

.site {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

:root {
    --font_arvo: "Arvo";
    --font_goldman: "Goldman";
    --strong_purple: #570C82;
    --gold_color: #D7A001;
    --space: 20px;
    --font_nosifer: "Nosifer";
    --font_poppins: "Poppins";
}

.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    div:nth-child(1) img {
        width: 150px;
        height: 60px;
    }

    nav ul {
        display: flex;

        li {
            padding: 20px;

            .active {
                color: var(--gold_color);
            }

            a {
                font-family: var(--font_arvo);
                align-items: center;
                text-align: center;
                font-size: 14pt;
                text-decoration: none;
                text-transform: uppercase;
                color: black;
                font-weight: 700;
            }
        }
    }

    .menu {
        font-size: 24pt;
        align-items: center;
        text-align: center;
        margin: 0 10px;
    }
}

.space {
    padding: var(--space);
}

.side {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    align-items: center;
    text-align: center;
    height: 400px;

    .sobre {
        align-items: center;
        text-align: center;
        height: 400px;

        h2 {
            align-items: center;
            text-align: center;
            text-transform: uppercase;
            font-family: var(--font_goldman);
            font-size: 16pt;
            margin: 10px;
        }

        .sobre_carrosel {
            color: var(--gold_color);

            h2 {
                font-family: var(--font_nosifer);
                font-size: 14pt;
            }
        }

        .sobre_txt {
            width: 700px;
            display: flex;

            p {
                height: 200px;
                padding: 50px;
                font-size: 12pt;
                text-align: center;
                align-items: center;
                word-spacing: 2pt;
                font-family: var(--font_poppins);
            }

        }
    }

    .sobre_img {
        img {
            border-radius: 20px;
            width: 320px;
            height: 420px;
        }
    }

}

.carousel_sobre {

    h2 {
        text-transform: uppercase;
        font-family: var(--font_goldman);
        align-items: center;
        text-align: center;
        font-size: 16pt;
    }

    .exe_trabalho {
        display: flex;
        justify-content: space-between;

    }
}