@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Bokor&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Oswald:wght@200..700&display=swap');
/*  font-family: "Arvo" */

@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Bokor&family=Goldman:wght@400;700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Oswald:wght@200..700&display=swap');
/* font-family: "Goldman", serif; */

@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
/* font-family: "Nosifer", serif; */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: "Poppins"; */

* {
    padding: 0;
    margin: 0;
}

.site {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

:root {
    --font_arvo: "Arvo";
    --font_goldman: "Goldman";
    --strong_purple: #570C82;
    --medium_purple: #7d1ecc;
    --dark_purple: #2f2c47;
    --gold_color: #D7A001;
    --body-color: #cdd7ce6e;
    --space: 30px;
    --font_nosifer: "Nosifer";
    --font_poppins: "Poppins";
}

body {
    background-color: var(--body-color);
}

.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 95px;

    div:nth-child(1) img {
        width: 150px;
        height: 80px;
        filter: drop-shadow(0 0 1rem purple);
    }

    nav ul {
        display: flex;

        li {
            padding: 20px;
            margin: 10px;

            .active {
                color: var(--medium_purple);
            }

            a {
                font-family: var(--font_poppins);
                align-items: center;
                text-align: center;
                font-size: 16pt;
                text-decoration: none;
                text-transform: uppercase;
                color: black;
                font-weight: 700;
            }
        }
    }

    .menu {
        font-size: 26pt;
        align-items: center;
        text-align: center;
        margin: 0 10px;
        cursor: pointer;
    }

    .menu-lateral {
        position: fixed;
        top: 0;
        right: -500px;
        width: 500px;
        height: 100%;
        background-color: #333;
        transition: 0.8s;
        padding-top: 20px;
        z-index: 1000;

        .menu_responsivo {
            display: block;
        }

        ul {
            list-style: none;
            padding: 0;

            li {
                padding: 5px 5px;
                text-align: center;
                text-align: center;

                a {
                    color: white;
                    text-decoration: none;
                    font-size: 13pt;
                    font-family: var(--font_poppins);
                    display: block;

                    :hover {
                        background-color: var(--space);
                    }
                }

                img {
                    width: 190px;
                    height: 80px;
                    filter: drop-shadow(0 0 2rem red);
                }

                p {
                    display: flex;
                    text-transform: uppercase;
                    font-family: var(--font_poppins);
                    align-items: center;
                    text-align: center;
                    font-size: 16pt;
                    margin: 5px 0px;
                    color: white;
                    font-weight: 500;
                }

                .redes_sociais {
                    width: 150px;
                    display: flex;
                    justify-content: space-around;

                    a {
                        font-size: 31pt;
                        text-decoration: none;
                        color: white;
                    }

                    :hover {
                        transition: 0.5s ease;
                        transform: scale(1.09);
                    }
                }

                .fa-phone {
                    margin: 10px;
                    height: 20px;
                    align-items: center;
                    text-align: center;
                }

                .fa-location-dot {
                    margin: 10px;
                    color: white;
                }
            }
        }

        button {
            display: flex;
            text-align: center;
            align-items: center;
            width: 100px;
            height: 50px;
            background: none;
            border: none;
            font-size: 21pt;
            color: rgb(200 45 219);
            align-items: start;
            font-weight: 500;
            font-family: var(--font_poppins);

            .fa-arrow-left {
                color: rgb(200 45 219);
                margin: 0 15px;
            }

            .bnt-sair {
                color: rgb(148, 5, 148);
                align-items: center;
                text-align: center;
            }
        }

        button:hover {
            transition: 0.5s ease;
            transform: scale(1.09);
        }
    }

    .menu-lateral.ativo {
        right: 0;
        background-color: var(--dark_purple);
    }

    .body-ativo {
        overflow: hidden;
    }
}

.space {
    padding: var(--space);
}

.side {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    align-items: self-start;
    text-align: center;
    height: 400px;

    .sobre {
        align-items: center;
        text-align: center;
        height: 400px;

        h2 {
            align-items: center;
            text-align: center;
            text-transform: uppercase;
            font-family: var(--font_goldman);
            font-size: 16pt;
            margin: 10px;
        }

        .sobre_carrosel {
            color: var(--medium_purple);

            h2 {
                font-family: var(--font_nosifer);
                font-size: 14pt;
            }
        }

        .sobre_txt {
            width: 90%;
            display: flex;

            p {
                height: 200px;
                padding: 15px;
                font-size: 14pt;
                text-align: center;
                align-items: center;
                word-spacing: 2pt;
                font-family: var(--font_poppins);
            }
        }
    }

    .sobre_img {
        img {
            border-radius: 20px;
            width: auto;
            height: 420px;
        }
    }
}

.carousel_sobre {

    h2 {
        text-transform: uppercase;
        font-family: var(--font_goldman);
        align-items: center;
        text-align: center;
        font-size: 16pt;
        margin: 15px 0;
    }

    .box_carousel {
        display: flex;
        justify-content: space-around;
        width: 100%;
        align-items: center;
        text-align: center;

        div {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;

            h2 {
                color: white;
                background-color: var(--medium_purple);
                font-family: var(--font_poppins);
                font-weight: bold;
                border-radius: 10px;
                width: 100%;
                height: 35px;
                font-size: 12pt;
                align-items: center;
                text-align: center;
                display: flex;
                justify-content: center;
                flex-direction: column;
            }

            img {
                width: 290px;
                height: 310px;
                border-radius: 20px;
                margin: 15px;
                padding: 10px;
            }
        }

        .slick-next:before,
        .slick-prev:before {
            color: var(--medium_purple);
            font-size: 26pt;
        }

        .slick-dots li button:before {
            color: var(--strong_purple);
            font-size: 14pt;
        }

        .slick-dots li.slick-active button:before {
            color: var(--medium_purple);
        }
    }

    .space {
        padding: 25px;
    }

    .side {
        height: 50px;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;

        button {
            width: 250px;
            height: 50px;
            border: none;
            border-radius: 20px;
            background-color: var(--medium_purple);

            a {
                text-decoration: none;
                font-size: 16pt;
                color: white;
                font-family: var(--font_poppins);
                text-transform: uppercase;
                font-weight: bold;
            }
        }

        button:hover {
            background-color: var(--strong_purple);
            transition: 0.5s;
        }
    }
}

.videos_sobre {

    .banner {
        background-image: url(../img/purpleground.jpg);
        background-position: bottom;
        background-size: cover;
        background-attachment: fixed;
        filter: brightness(75%);
        box-shadow: inset 5px 5px 5px 5px black;
        padding: 50px 0;
        height: 350px;
    }

    .site {
        .side {
            display: flex;
            justify-content: space-around;
            width: 100%;
            height: auto;

            div:nth-child(1) {
                align-items: center;
                text-align: center;
                height: 500px;
                width: 480px;

                button {
                    width: 250px;
                    height: 50px;
                    border: none;
                    border-radius: 20px;
                    background-color: var(--medium_purple);

                    a {
                        text-decoration: none;
                        font-size: 16pt;
                        color: white;
                        font-family: var(--font_poppins);
                        text-transform: uppercase;
                        font-weight: bold;
                    }
                }

                button:hover {
                    background-color: var(--strong_purple);
                    transition: 0.5s;
                }
            }

            h2 {
                align-items: center;
                text-align: center;
                text-transform: uppercase;
                font-family: var(--font_goldman);
                font-size: 16pt;
                margin: 10px;
            }

            h3 {
                align-items: center;
                text-align: center;
                text-transform: uppercase;
                font-family: var(--font_poppins);
                font-size: 16pt;
                margin: 15px;
                font-weight: 600px;
                padding: 50px;
            }

            .redes_sociais {
                display: flex;
                justify-content: space-around;

                a {
                    font-size: 31pt;
                    text-decoration: none;
                    color: var(--medium_purple);
                }

                :hover {
                    transition: 0.5s ease;
                    transform: scale(1.09);
                }
            }

            .box_video {
                .slick-initialized.slick-slider.slick-dotted {
                    width: 450px;
                }

                position: relative;

                div {
                    width: 400px;
                    align-items: center;
                    text-align: center;
                    border-radius: 20px;

                    video {
                        width: 100%;
                        align-items: center;
                        text-align: center;
                    }
                }

                .slick-next:before,
                .slick-prev:before {
                    display: flex;
                    justify-content: center;
                    color: var(--medium_purple);
                    font-size: 26pt;
                    width: 50%;
                    padding: 10px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                }

                .slick-prev {
                    left: 50px;
                    top: 105%;
                }

                .slick-next {
                    right: 50px;
                    top: 105%;
                }

                .slick-dots li button:before {
                    color: var(--strong_purple);
                    font-size: 14pt;
                    height: 35px;
                    align-items: center;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                }

                .slick-dots li.slick-active button:before {
                    color: var(--medium_purple);
                }
            }
        }
    }
}

.upper {
    display: flex;
    justify-content: end;

    button {
        margin: 20px;
        border-radius: 50%;
        border: none;
        width: 80px;
        height: 80px;
        cursor: pointer;
        background-color: transparent;

        .fa-up-long {
            font-size: 31pt;
            color: var(--medium_purple);
        }
    }
}

.footer {
    background-image: url(../img/purpleground.jpg);
    filter: blur(100%);
    height: auto;
    align-items: center;
    text-align: center;

    .side {
        justify-content: space-between;
        align-items: center;
        text-align: center;
        height: auto;
        margin: 0;

        div {
            display: flex;
            flex-direction: column;
            margin: 20px;

            img {
                width: 200px;
                height: 100px;
            }

            a {
                text-transform: uppercase;
                text-decoration: none;
                font-size: 18pt;
                font-family: var(--font_poppins);
                color: white;
                font-weight: 500;
                margin: 10px;

                .fa-phone {
                    margin: 10px;
                    height: 20px;
                    align-items: center;
                    text-align: center;
                }

                .fa-location-dot {
                    margin: 10px;
                    color: white;
                }
            }

            h3 {
                font-size: 18pt;
                font-family: var(--font_poppins);
                color: white;
                font-weight: 500;
                text-transform: uppercase;
                margin: 10px;
            }

            .redes_sociais {
                display: block;
                justify-content: space-around;

                a {
                    font-size: 31pt;
                    text-decoration: none;
                    color: white;
                }

                :hover {
                    transition: 0.5s ease;
                    transform: scale(1.09);
                }
            }
        }
    }

    hr {
        border: none;
        background-color: rgb(255, 255, 255);
        height: 5px;
        margin: 10px 0px;
    }

    p {
        font-size: 18pt;
        color: white;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        font-family: var(--font_poppins);
        padding: 10px;

        a {
            font-size: 18pt;
            text-decoration: none;
            color: var(--medium_purple);
            border-color: white;
            font-weight: bold;
        }
    }
}

/* pag servicos */
.modelo {
    h2 {
        align-items: self-start;
        text-align: center;
        text-transform: uppercase;
        font-family: var(--font_goldman);
        font-size: 18pt;
        margin: 5px 20px;
        padding: 5px;
    }

    h3 {
        display: flex;
        justify-content: center;
        color: var(--medium_purple);
        font-family: var(--font_nosifer);
        font-size: 14pt;
        margin: 10px;
    }

    .side {
        width: 100%;
        height: auto;
        margin: 10px;
        justify-content: space-around;

        .modelo_carac {
            ul {
                li {
                    display: flex;
                    padding: 5px;
                    font-size: 14pt;
                    text-align: center;
                    align-items: center;
                    word-spacing: 2pt;
                    font-weight: 500;
                    font-family: var(--font_poppins);
                    text-transform: uppercase;
                }
            }
        }

        .sobre_img {
            img {
                width: 325px;
                border-radius: 20px;
            }
        }
    }
}

.cabelos {
    h2 {
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        font-family: var(--font_goldman);
        font-size: 18pt;
        margin: 20px;
        padding: 5px;
    }

    h3 {
        display: flex;
        justify-content: center;
        color: var(--medium_purple);
        font-family: var(--font_nosifer);
        font-size: 14pt;
        margin: 20px 5px;
    }

    h4 {
        font-weight: 500;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        font-family: var(--font_poppins);
        font-size: 18pt;
        margin: 20px;
        padding: 5px;
    }

    .box_cabelo {
        display: flex;
        justify-content: space-around;
    }

    .card {
        align-items: center;
        margin: 10px;

        :hover {
            transition: 0.5s ease;
            transform: scale(1.09);
        }
    }

    div {
        display: flex;

        img {
            width: 250px;
            height: 250px;
            border-radius: 20px;
            margin: 10px;
            object-fit: cover;
            background-color: var(--medium_purple);
            filter: drop-shadow(0 0 1rem rgb(94, 7, 94));
        }

        img:hover {
            transition: 0.5s ease;
            transform: scale(1.09);
        }

        p {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 18pt;
            align-items: center;
            text-align: center;
            text-transform: uppercase;
            font-family: var(--font_poppins);
            padding: 10px;
            border-radius: 20px;
            height: 100px;
            font-weight: 500;
            filter: drop-shadow(0 0 2rem rgb(209, 49, 209));
        }
    }

    .cabelos_links {
        display: contents;

        .side {
            display: flex;
            padding: 5px;
            margin: 20px;
            height: 50px;
            justify-content: space-evenly;
            align-items: center;
            text-align: center;

            a {
                font-size: 31pt;
                text-decoration: none;
                color: var(--medium_purple);

                :hover {
                    transition: 0.5s ease;
                    transform: scale(1.09);
                }
            }

            button {
                width: 250px;
                height: 50px;
                border: none;
                border-radius: 20px;
                background-color: var(--medium_purple);

                a {
                    text-decoration: none;
                    font-size: 16pt;
                    color: white;
                    font-family: var(--font_poppins);
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }

            button:hover {
                background-color: var(--strong_purple);
                transition: 0.5s;
            }
        }
    }
}

.estilos_fotos {
    align-items: center;
    text-align: center;

    h2 {
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        font-family: var(--font_goldman);
        font-size: 18pt;
        margin: 20px;
        padding: 5px;
    }

    .box_estilos {
        .button_estilos {
            display: flex;
            justify-content: center;

            button {
                width: 160px;
                height: 50px;
                border: none;
                margin: 0px 5px;
                border-radius: 20px;
                background-color: var(--medium_purple);
                text-decoration: none;
                font-size: 16pt;
                color: white;
                font-family: var(--font_poppins);
                text-transform: uppercase;
                font-weight: bold;
            }

            button:hover {
                background-color: var(--strong_purple);
                transition: 0.5s;
            }
        }

        .box_corte,
        .box_tranca,
        .box_barba,
        .box_dread,
        .box_sobrancelha {
            display: flex;
            justify-content: center;
        }

        .imagemCorte-container,
        .imagemTranca-container,
        .imagemBarba-container,
        .imagemDread-container,
        .imagemSobrancelha-container {
            position: relative;
            height: auto;
        }

        .imagemCorte,
        .imagemTranca,
        .imagemBarba,
        .imagemDread,
        .imagemSobrancelha {
            width: 250px;
            height: 250px;
            margin: 5px;
            padding: 5px;
            object-fit: cover;
            border-radius: 20px;
            filter: 0.3s ease, transform 0.3s ease;
            border-radius: 20px;
        }

        img:hover {
            color: red;
            transition: 0.5s ease;
            transform: scale(1.1);
            filter: brightness(0);
            transform: scale(1.05);
        }

        .texto-hover {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            font-size: 22px;
            font-weight: bold;
            text-align: center;
            opacity: 0;
            transition: opacity 0.3s ease;
            pointer-events: none;
            text-shadow: #7d1ecc 1px 1px;
        }

        .imagemCorte-container:hover .texto-hover,
        .imagemTranca-container:hover .texto-hover,
        .imagemBarba-container:hover .texto-hover,
        .imagemDread-container:hover .texto-hover,
        .imagemSobrancelha-container:hover .texto-hover {
            opacity: 1;
        }

        .imagemTranca,
        .imagemCorte,
        .imagemBarba,
        .imagemDread,
        .imagemSobrancelha {
            display: none;
        }

        .ativo {
            display: block;
        }
    }

    h4 {
        font-weight: 500;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        font-family: var(--font_poppins);
        font-size: 18pt;
        margin: 20px;
        padding: 5px;
    }

    .cabelos_links {
        .side {
            padding: 5px;
            margin: 20px;
            height: 50px;
            justify-content: space-evenly;
            align-items: center;
            text-align: center;

            button {
                width: 250px;
                height: 50px;
                border: none;
                border-radius: 20px;
                background-color: var(--medium_purple);

                a {
                    text-decoration: none;
                    font-size: 16pt;
                    color: white;
                    font-family: var(--font_poppins);
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }

            button:hover {
                background-color: var(--strong_purple);
                transition: 0.5s;
            }
        }
    }
}

.dancarino {
    .banner {
        background-image: url(../img/purpleground.jpg);
        background-position: bottom;
        background-size: cover;
        background-attachment: fixed;
        filter: brightness(75%);
        box-shadow: inset 5px 5px 5px 5px black;
        padding: 50px 0;
        height: 350px;
    }

    h2 {
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        font-family: var(--font_goldman);
        font-size: 18pt;
        margin: 20px;
        padding: 5px;
    }

    h3 {
        display: flex;
        justify-content: center;
        color: var(--medium_purple);
        font-family: var(--font_nosifer);
        font-size: 14pt;
        margin: 10px;
    }

    .side {
        height: auto;
        justify-content: space-between;

        .sobre_danca {

            p {
                padding: 10px;
                margin: 20px;
                font-size: 14pt;
                text-align: center;
                align-items: center;
                word-spacing: 2pt;
                font-family: var(--font_poppins);
            }

            .sobre_carrosel {
                color: var(--medium_purple);

                h2 {
                    font-family: var(--font_nosifer);
                    font-size: 14pt;
                    word-spacing: 5px;
                }
            }
        }

        .danca_mp4 {
            /* width: 350px; */

            video {
                border-radius: 40px;
                width: 100%;
                align-items: center;
                text-align: center;
                border-radius: 20px;
            }
        }
    }
}

.cantor {
    h2 {
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        font-family: var(--font_goldman);
        font-size: 18pt;
        margin: 40px;
        padding: 5px;
    }

    .redes_sociais {
        margin: 20px;
        display: flex;
        justify-content: space-around;

        a {
            font-size: 31pt;
            text-decoration: none;
            color: var(--medium_purple);
        }

        :hover {
            transition: 0.5s ease;
            transform: scale(1.09);
        }
    }
}

/* pag contato */

.redes {
    .redes_sociais {
        margin: 20px;
        display: flex;
        justify-content: space-around;

        a {
            font-size: 31pt;
            text-decoration: none;
            color: var(--medium_purple);
        }

        :hover {
            transition: 0.5s ease;
            transform: scale(1.09);
        }
    }
}

.contato_email {
    .custom-sucess {
        background-color: #d4edda;
        color: #155724;
        padding: 20px;
        border: 1px solid #c3e6cb;
        border-radius: 5px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 15pt;
        font-family: var(--font_poppins);
    }

    .custom-danger {
        background-color: #f8d7da;
        color: #721c24;
        padding: 20px;
        border: 1px solid #f5c6cb;
        border-radius: 5px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 15pt;
        font-family: var(--font_poppins);
    }

    .box_contato {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    label {
        font-size: 16pt;
        font-weight: 500;
        word-spacing: 2pt;
        text-transform: uppercase;
        font-family: var(--font_poppins);
    }

    input {
        width: 400px;
        height: 80px;
        border-radius: 20px;
        margin: 5px;
        border: none;
        font-size: 18pt;
    }

    textarea {
        width: 95%;
        height: 200px;
        border-radius: 10px;
        margin: 5px;
        resize: none;
        border: none;
        font-size: 16pt;
    }

    #placeholder-text::placeholder {
        text-transform: uppercase;
    }

    .space {
        padding: 20px;
    }

    .box_mensagem {
        align-items: center;
        text-align: center;

        label {
            display: flex;
            text-align: center;
            align-items: center;
        }

        input {
            width: 400px;
            height: 50px;
            align-items: center;
            text-align: center;
            border-radius: 20px;
            margin: 5px;
            font-family: var(--font_poppins);
            background: var(--medium_purple);
            color: white;
            text-transform: uppercase;
            font-weight: bold;
        }

        .btn_contato {
            font-size: 14pt;
            font-weight: 600;
            text-align: center;
            align-items: center;
            word-spacing: 2pt;
            text-transform: uppercase;

            :hover {
                background-color: var(--strong_purple);
                transition: 0.5s;
            }
        }
    }
}

/* loader */
.loader {
    --w: 10ch;
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    letter-spacing: var(--w);
    width: var(--w);
    overflow: hidden;
    white-space: nowrap;
    color: #0000;
    animation: l33 1s infinite alternate;
}

.loader:before {
    content: "Carregando. . .";
}

@keyframes l33 {

    0%,
    15%,
    75%,
    100% {
        text-shadow:
            calc(0*var(--w)) 0 #000, calc(-1*var(--w)) 0 #000, calc(-2*var(--w)) 0 #000, calc(-3*var(--w)) 0 #000, calc(-4*var(--w)) 0 #000,
            calc(-5*var(--w)) 0 #000, calc(-6*var(--w)) 0 #000, calc(-7*var(--w)) 0 #000, calc(-8*var(--w)) 0 #000, calc(-9*var(--w)) 0 #000;
    }

    20% {
        text-shadow:
            calc(0*var(--w)) 0 #000, calc(-1*var(--w)) 0 #000, calc(-2*var(--w)) 0 #000, calc(-3*var(--w)) 0 9px #000, calc(-4*var(--w)) 0 #000,
            calc(-5*var(--w)) 0 #000, calc(-6*var(--w)) 0 #000, calc(-7*var(--w)) 0 #000, calc(-8*var(--w)) 0 #000, calc(-9*var(--w)) 0 #000;
    }

    25% {
        text-shadow:
            calc(0*var(--w)) 0 #000, calc(-1*var(--w)) 0 #000, calc(-2*var(--w)) 0 #000, calc(-3*var(--w)) 0 #000, calc(-4*var(--w)) 0 #000,
            calc(-5*var(--w)) 0 #000, calc(-6*var(--w)) 0 #000, calc(-7*var(--w)) 0 7px #000, calc(-8*var(--w)) 0 #000, calc(-9*var(--w)) 0 #000;
    }

    30% {
        text-shadow:
            calc(0*var(--w)) 0 #000, calc(-1*var(--w)) 0 #000, calc(-2*var(--w)) 0 #000, calc(-3*var(--w)) 0 #000, calc(-4*var(--w)) 0 #000,
            calc(-5*var(--w)) 0 9px #000, calc(-6*var(--w)) 0 #000, calc(-7*var(--w)) 0 #000, calc(-8*var(--w)) 0 #000, calc(-9*var(--w)) 0 #000;
    }

    35% {
        text-shadow:
            calc(0*var(--w)) 0 #000, calc(-1*var(--w)) 0 #000, calc(-2*var(--w)) 0 #000, calc(-3*var(--w)) 0 #000, calc(-4*var(--w)) 0 #000,
            calc(-5*var(--w)) 0 #000, calc(-6*var(--w)) 0 #000, calc(-7*var(--w)) 0 #000, calc(-8*var(--w)) 0 #000, calc(-9*var(--w)) 0 7px #000;
    }

    40% {
        text-shadow:
            calc(0*var(--w)) 0 5px #000, calc(-1*var(--w)) 0 #000, calc(-2*var(--w)) 0 #000, calc(-3*var(--w)) 0 #000, calc(-4*var(--w)) 0 #000,
            calc(-5*var(--w)) 0 #000, calc(-6*var(--w)) 0 #000, calc(-7*var(--w)) 0 #000, calc(-8*var(--w)) 0 #000, calc(-9*var(--w)) 0 #000;
    }

    45% {
        text-shadow:
            calc(0*var(--w)) 0 #000, calc(-1*var(--w)) 0 #000, calc(-2*var(--w)) 0 #000, calc(-3*var(--w)) 0 #000, calc(-4*var(--w)) 0 #000,
            calc(-5*var(--w)) 0 7px #000, calc(-6*var(--w)) 0 #000, calc(-7*var(--w)) 0 #000, calc(-8*var(--w)) 0 #000, calc(-9*var(--w)) 0 #000;
    }

    50% {
        text-shadow:
            calc(0*var(--w)) 0 #000, calc(-1*var(--w)) 0 #000, calc(-2*var(--w)) 0 #000, calc(-3*var(--w)) 0 #000, calc(-4*var(--w)) 0 5px #000,
            calc(-5*var(--w)) 0 #000, calc(-6*var(--w)) 0 #000, calc(-7*var(--w)) 0 #000, calc(-8*var(--w)) 0 #000, calc(-9*var(--w)) 0 #000;
    }

    55% {
        text-shadow:
            calc(0*var(--w)) 0 #000, calc(-1*var(--w)) 0 #000, calc(-2*var(--w)) 0 #000, calc(-3*var(--w)) 0 #000, calc(-4*var(--w)) 0 #000,
            calc(-5*var(--w)) 0 #000, calc(-6*var(--w)) 0 8px #000, calc(-7*var(--w)) 0 #000, calc(-8*var(--w)) 0 #000, calc(-9*var(--w)) 0 #000;
    }

    60% {
        text-shadow:
            calc(0*var(--w)) 0 #000, calc(-1*var(--w)) 0 #000, calc(-2*var(--w)) 0 #000, calc(-3*var(--w)) 0 #000, calc(-4*var(--w)) 0 #000,
            calc(-5*var(--w)) 0 #000, calc(-6*var(--w)) 0 #000, calc(-7*var(--w)) 0 #000, calc(-8*var(--w)) 0 5px #000, calc(-9*var(--w)) 0 #000;
    }

    65% {
        text-shadow:
            calc(0*var(--w)) 0 #000, calc(-1*var(--w)) 0 7px #000, calc(-2*var(--w)) 0 #000, calc(-3*var(--w)) 0 #000, calc(-4*var(--w)) 0 #000,
            calc(-5*var(--w)) 0 #000, calc(-6*var(--w)) 0 #000, calc(-7*var(--w)) 0 #000, calc(-8*var(--w)) 0 #000, calc(-9*var(--w)) 0 #000;
    }

    70% {
        text-shadow:
            calc(0*var(--w)) 0 #000, calc(-1*var(--w)) 0 #000, calc(-2*var(--w)) 0 9px #000, calc(-3*var(--w)) 0 #000, calc(-4*var(--w)) 0 #000,
            calc(-5*var(--w)) 0 #000, calc(-6*var(--w)) 0 #000, calc(-7*var(--w)) 0 #000, calc(-8*var(--w)) 0 #000, calc(-9*var(--w)) 0 #000;
    }
}

#loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(237, 225, 240, 0.925);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

/* div[vw] .enabled {
  
}

div[vw-access-button] {
    display: block !important;
    opacity: 1 !important;
    visibility: visible !important;
    z-index: 9999 !important;
} */

/* responsivoo */

@media (max-width: 1024px) {
    .presentation .side {
        margin: none;
    }

    .side .sobre .sobre_txt p {
        padding: 5px;
    }

    .side .sobre_img img {
        border-radius: 20px;
        width: 280px;
        height: auto;
    }

    .carousel_sobre .slick-prev {
        left: 50px;
        top: 105%;
    }

    .carousel_sobre .slick-next {
        right: 90px;
        top: 105%;
    }

    .videos_sobre .site .side {
        margin: 0px;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
    }

    .videos_sobre .box_video.slick-initialized.slick-slider.slick-dotted {
        width: 385px;
    }

    .button_estilos {
        flex-wrap: wrap;
        justify-content: center;
    }

    .button_estilos button {
        width: auto;
        min-width: 120px;
        margin: 5px;
    }

    .box_corte,
    .box_tranca,
    .box_barba,
    .box_dread,
    .box_sobrancelha {
        display: flex;
        justify-content: center;
    }

    .estilos_fotos .box_estilos .imagemCorte,
    .imagemTranca,
    .imagemBarba,
    .imagemDread,
    .imagemSobrancelha {
        width: 100%;
        max-width: 200px;
    }

    .contato_email .box_contato {
        display: contents;
    }

    .contato_email .box_contato div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    .contato_email .box_contato div .campo_email {
        width: 85%;
    }
}

@media (max-width: 768px) {
    header .site .menu {
        display: block;
    }

    header .site .topo .menu-lateral {
        width: 200px;
    }

    header .site nav {
        display: none;
    }

    header .site .topo .menu-lateral .menu_reponsivo {
        display: block !important;
    }

    header .site .menu-lateral .menu_responsivo ul li a {
        display: block;
    }

    header .site .menu-lateral>ul>li {
        display: none;
    }

    header .site .menu-lateral>ul>li:nth-child(2) {
        display: flex;
        justify-content: space-evenly;
    }

    header .site .menu-lateral>ul>li>p {
        display: none;
    }

    header .site .menu-lateral ul li .redes_sociais a {
        font-size: 16pt;
    }

    header .site .topo .menu-lateral ul li .redes_sociais {
        display: flex;
        justify-content: space-around;
    }

    header .site .topo .menu-lateral button {
        font-size: 16pt;
    }

    header .site .topo div:nth-child(1) img {
        width: 120px;
    }

    header .space {
        padding: 5px;
    }

    header .topo .menu-lateral {
        width: 410px;
    }

    .presentation .site .side {
        align-items: self-start;
    }

    .presentation .site .side .sobre_txt p {
        font-size: 11pt;
    }

    .presentation .site .space {
        padding: 10px;
    }

    .carousel_sobre .site .box_carousel div {
        width: 95%;
    }

    .carousel_sobre .box_carousel div img {
        width: 225px;
        height: 230px;
        margin: 0px;
    }

    .videos_sobre .banner {
        height: 200px;
    }

    .videos_sobre .site .side .box_video div {
        width: 100%;
    }

    .upper button {
        height: auto;
    }

    .footer .site .side div {
        text-align: center;
    }

    .footer .site .side div a img {
        width: 110px;
        height: 50px;
    }

    .footer .side div a {
        font-size: 9pt;
        margin: 4px;
    }

    .footer .site .side div h3 {
        font-size: 10pt;
        margin: 2pt;
    }

    .footer .site .side div .redes_sociais a {
        font-size: 14pt;
    }

    .footer .site .side div {
        margin: 1px 1px;
    }

    .footer p {
        font-size: 14pt;
    }

    .footer hr {
        margin: 5px 0px;
    }

    .footer p a {
        font-size: 14pt;
    }

    .footer .side div a {
        font-size: 16pt;
    }

    .footer .site .side div {
        margin: 5px 10px;
    }

    .footer .site .side:nth-child(3) {
        margin: 0px;
        height: 30px;
    }

    .modelo .site .side .modelo_carac {
        align-items: self-start;
    }

    .modelo .side:nth-child(2) {
        background-color: red;
    }

    .modelo .site .side {
        margin: 0px;
        width: 100%;
    }

    .modelo .site .sobre_img {
        width: 36%;
    }

    .modelo .site .sobre_img img {
        width: 75%;
    }

    .modelo .site .side .modelo_carac ul li {
        font-size: 10pt;
    }

    .modelo .site .side .modelo_carac h2 {
        font-size: 14pt;
        margin: 0px;
    }

    .cabelos .site .box_cabelo .card img {
        width: 200px;
        height: 200px;
    }

    .estilos_fotos .site .box_estilos .imgs_box .imagem_container {
        width: 100%;
    }

    .estilos_fotos .site .box_estilos .imgs_box .imagem_container .imagemCorte .imagemTranca .imagemBarba .imagemDread .imagemSobrancelha {
        margin: 0px;
        padding: 0px;
    }

    .estilos_fotos .box_estilos .imagemCorte,
    .estilos_fotos .box_estilos .imagemTranca,
    .estilos_fotos .box_estilos .imagemBarba,
    .estilos_fotos .box_estilos .imagemDread,
    .estilos_fotos .box_estilos .imagemSobrancelha {
        width: 175px;
        height: 175px;
        margin: 1px;
        padding: 1px;
    }

    .dancarino .banner {
        height: 150px;
    }

    .space {
        padding: 10px;
    }
}

@media (max-width: 480px) {
    header .site .menu {
        display: block;
    }

    header .site .topo .menu-lateral {
        width: 200px;
    }

    header .site nav {
        display: none;
    }

    header .site .topo .menu-lateral .menu_reponsivo {
        display: block !important;
    }

    header .site .menu-lateral .menu_responsivo ul li a {
        display: block;
    }

    header .site .menu-lateral>ul>li {
        display: none;
    }

    header .site .menu-lateral>ul>li:nth-child(2) {
        display: flex;
        justify-content: space-evenly;
    }

    header .site .menu-lateral>ul>li>p {
        display: none;
    }

    header .site .menu-lateral ul li .redes_sociais a {
        font-size: 16pt;
    }

    header .site .topo .menu-lateral ul li .redes_sociais {
        display: flex;
        justify-content: space-around;
    }

    header .site .topo .menu-lateral button {
        font-size: 16pt;
    }

    header .site .topo div:nth-child(1) img {
        width: 120px;
    }

    .presentation .site .side .sobre_img img {
        border-radius: 20px;
        width: 180px;
        height: auto;
    }

    .presentation .site .side .sobre h2 {
        font-size: 12pt;
        margin: 3px 2px;
    }

    .presentation .site .side .sobre .sobre_carrosel h2 {
        font-size: 10pt;
        margin: 1px 2px;

    }

    .presentation .site .side .sobre_txt p {
        font-size: 8pt;
        margin: 2px 2px;
        padding: 1px;
    }

    .presentation .site .side {
        margin: 2px;
        padding: 0px;
        height: 300px;
    }

    .presentation .site .side .sobre {
        height: 310px;
    }

    .carousel_sobre .site h2 {
        font-size: 12pt;
        margin: 5px 0px;
    }

    .carousel_sobre .site .space {
        padding: 5px;
    }

    .carousel_sobre .site .side button {
        width: 200px;
    }

    .carousel_sobre .side button a {
        font-size: 12pt;
    }

    .videos_sobre .site .side h2 {
        font-size: 14pt;
    }

    .videos_sobre .site .side h3 {
        font-size: 14pt;
    }

    .videos_sobre .site .side {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0px;
        padding: 0px;
    }

    .videos_sobre .site .side div h3 {
        margin: 5px 0px;
        padding: 15px;
    }

    .videos_sobre .site .side div:nth-child(1) {
        height: auto;
    }

    .videos_sobre .site .side .box_video div {
        width: 385px !important;
        align-items: center;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .videos_sobre .site .side .box_video div video {
        width: 265px !important;
    }

    .upper button {
        margin: 0px;
    }

    .footer .site .side div {
        text-align: center;
    }

    .footer .site .side div a img {
        width: 110px;
        height: 50px;
    }

    .footer .side div a {
        font-size: 9pt;
        margin: 4px;
    }

    .footer .site .side div h3 {
        font-size: 10pt;
        margin: 2pt;
    }

    .footer .site .side div .redes_sociais a {
        font-size: 14pt;
    }

    .footer .site .side div {
        margin: 1px 1px;
    }

    .footer p {
        font-size: 14pt;
    }

    .footer hr {
        margin: 5px 0px;
    }

    .footer p a {
        font-size: 14pt;
    }

    .modelo .site .side {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .modelo .site h2 {
        font-size: 13pt;
        margin: 1px 5px;
        padding: 5px;
    }

    .modelo .site h3 {
        font-size: 13pt;
        margin: 5px 5px;
        padding: 0px;
    }

    .modelo .site .side .modelo_carac h2 {
        font-size: 13pt;
    }

    .modelo .site .side .modelo_carac ul li {
        font-size: 8pt;
        padding: 1px 2px;
    }

    .modelo .site .sobre_img img {
        width: 100%;
    }

    .cabelos .site h2 {
        font-size: 13pt;
        margin: 1px 5px;
        padding: 5px;
    }

    .cabelos .site h3 {
        font-size: 13pt;
        margin: 5px 5px;
        padding: 0px;
    }

    .cabelos .site .box_cabelo .card img {
        width: 135px;
        height: 135px;
    }

    .cabelos .site .box_cabelo .card .card-body .card-text {
        font-size: 12pt;
    }

    .cabelos .site h4 {
        font-size: 13pt;
        margin: 5px 5px;
        padding: 0px;
    }

    .cabelos .site .cabelos_links .side button {
        width: 180px;
        height: 40px;
    }

    .cabelos .site .space {
        display: none;
    }

    .estilos_fotos .site h2 {
        font-size: 13pt;
        margin: 1px 5px;
        padding: 5px;
    }

    .estilos_fotos .site .button_estilos button {
        width: 180px;
        height: 40px;
        margin: 5px;
    }

    .estilos_fotos .site .box_estilos .imgs_box .imagem_container .box_corte .box_tranca .box_barba .box_dread .box_sobrancelha {
        flex-direction: column;
        align-items: center;
    }

    .estilos_fotos .box_estilos .imagemCorte,
    .estilos_fotos .box_estilos .imagemTranca,
    .estilos_fotos .box_estilos .imagemBarba,
    .estilos_fotos .box_estilos .imagemDread,
    .estilos_fotos .box_estilos .imagemSobrancelha {
        width: 115px;
        height: 125px;
    }

    .dancarino .site h2,
    h3 {
        font-size: 13pt;
        margin: 1px 5px;
        padding: 5px;
    }

    .dancarino .site .side .sobre_danca h2 {
        font-size: 13pt;
        margin: 1px 5px;
        padding: 5px;
    }

    .dancarino .site .side .danca_mp4 video {
        width: 200px;
    }

    .dancarino .site .side .sobre_danca p {
        padding: 1px;
        margin: 1px;
    }

    .dancarino .site .side {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .cantor .site h2 {
        font-size: 13pt;
        margin: 1px 5px;
        padding: 5px;
    }

    .contato_email .site .box_mensagem .btn_contato input {
        width: 150px;
        height: 35px;
    }
}

/* 320px */
@media (max-width: 460px) {
    header .site .topo .menu-lateral {
        width: 150px;
    }

    .presentation .site .side {
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: auto;
    }

    .presentation .site .side .sobre {
        align-items: center;
        text-align: center;
        height: 280px;
    }

    .presentation .site .side .sobre_txt {
        height: auto;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .presentation .site .side .sobre_txt p {
        align-items: self-start;
        height: auto;
    }

    .carousel_sobre .site .slick-prev {
        left: 1px;
    }

    .carousel_sobre .site .slick-next {
        right: 18px;
        top: 105%;
    }

    .carousel_sobre .site .box_carousel div {
        width: 85%;
    }


    .carousel_sobre .box_carousel div img {
        width: 220px;
        height: 225px;
        margin: 0px;
    }

    .videos_sobre .site .side div:nth-child(1) {
        width: auto;
    }

    .videos_sobre .box_video.slick-initialized.slick-slider.slick-dotted {
        width: 300px;
    }

    .videos_sobre .site .side .box_video div {
        width: 300px !important;
    }

    .videos_sobre .site .side .box_video div video {
        /* width: 150px !important; */
    }

    .upper button {
        margin: 5px;
    }

    .footer .site .side {
        align-items: self-start;
    }

    .footer .site .side div a img {
        width: 80px;
        height: 50px;
    }

    .footer .side div a {
        font-size: 9pt;
        margin: 2px;
    }

    .footer p {
        font-size: 10pt;
    }

    .footer p a {
        font-size: 12pt;
    }

    .modelo .site .sobre_img img {
        width: 200px;
    }

    .modelo .site .sobre_img {
        width: 100%;
    }

    .cabelos .site .box_cabelo .card img {
        width: 80px;
        height: 80px;
    }

    .cabelos .site .box_cabelo .card .card-body .card-text {
        padding: 5px;
        font-size: 8pt;
    }

    .estilos_fotos .box_estilos .imagemCorte,
    .estilos_fotos .box_estilos .imagemTranca,
    .estilos_fotos .box_estilos .imagemBarba,
    .estilos_fotos .box_estilos .imagemDread,
    .estilos_fotos .box_estilos .imagemSobrancelha {
        width: 75px;
        height: 100px;
    }
    .estilos_fotos .site .box_estilos .imgs_box ,.imagem_container .texto-hover {
        font-size: 15pt;
    }

}